
* { 
  outline: 1px solid black;
}

body {
    font-style: normal;
    background-color: rgb(232, 183, 86);
    text-align: center;
  }
  
  p {
    background-color: blanchedalmond;
    text-align: center;
    font-size: 20px;  
  }
  
  h1 {
    color: blue;
    background-color: aliceblue;
  }

